* {
  background-color: rgb(249, 249, 249);
}

h1 {
  font-family: "Bai Jamjuree", serif;
  font-size: 35px;
  font-style: oblique;
  color: black;
}

h2 {
  font-family: "Slabo 27px", serif;
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 17px;
  text-decoration: underline;
}

h4 {
  font-family: "Slabo 27px", serif;
  font-weight: bold;
}

p {
  font-family: "Bai Jamjuree", serif;
  font-size: 15px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(11, 40, 68);
}

a:active {
  color: white;
}

.Uimages {
  width: 35%;
  border: 3px solid black;
}

.CBimages {
  width: 20%;
  border: 3px solid black;
}

#FormulaOne {
  width: 20%;
  border: 3px solid black;
}

.Gimages {
  width: 15%;
}

.GWimages {
  width: 35%;
  border: 3px solid black;
  border-radius: 10px;
}

#SubNavBar {
  font-family: "Bai Jamjuree", serif;
  font-size: 15px;
}

#ContentList {
  font-family: "Bai Jamjuree", serif;
  font-size: 15px;
}

img[class= CBimages] {
  border-radius: 10px;
}

td[colspan] {
  font-size: 13px;
}

a[target] {
  font-family: "Bai Jamjuree", serif;
  font-size: 15px;
}

img.GWimages {
  display: block;
  margin: 0 auto;
}

#GravitationalWavesContent h4 {
  margin-bottom: 0;
  margin-top: 0;
}

thead td {
  border: 2px solid black;
}

tfoot td {
  border: 2px solid black;
}

footer {
  font-weight: bold;
}

td {
  border: 2px solid black;
}
